<section data-ng-controller="CvController" data-ng-init="find();value='1stview'">
<div>Change the view
    <input type="radio" ng-model="value" value="1stview" ng-change='changeView("cv")' checked="checked">
    <input type="radio" ng-model="value" value="2ndview" ng-change='changeView("cv2")'>
</div>

<div id="header"><h1>Resume</h1> {{cvs[0].created}}</div>
<div id="main-wrap" data-ng-repeat="cv in cvs" data-ng-show="!cvs || cvs.length">
    <div id="sidebar">
        <h1>Work History</h1>
        <div data-ng-repeat="field in cv.work_history"><li>{{field}}</li></div>
        <h1>Education</h1>
        <div data-ng-repeat="field in cv.education"><li>{{field}}</li></div>
        <h1>Language skills</h1>
        <div data-ng-repeat="field in cv.language_skills"><li>{{field}}</li></div>
        <h1>It Skills</h1>
        <div data-ng-repeat="field in cv.it_skills"><li>{{field}}</li></div>
        <h1>Hobbies</h1>
        <div data-ng-repeat="field in cv.hobbies"><li>{{field}}</li></div>
        <h1>References</h1>
        <div data-ng-repeat="field in cv.references"><li>{{field}}</li></div>
    </div>
    <div id="content-wrap">
        <div id="info-wrap">
            <div class="info">
                {{cv.name}}<br>
                Address: {{cv.address}}<br>
                Birthdate: {{cv.birthdate}}<br>
                Email: {{cv.email}}<br>
                Tel: {{cv.tel}}
            </div>
            
            <div class="info">
                <img ng-src="/img/Picture.jpg" width="132" height="224"/>
            </div>
        </div>
        <h1>Profile</h1>{{cv.profile}}
    </div>
</div>
<div id="footer"></div>
</section>